abduction-overlay {
	background: hsla(0, 0%, 20%, 0.4);
	cursor: crosshair;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000002;
}
abduction-selection,
abduction-selection * {
	-moz-box-sizing: border-box;
	display: block;
}
abduction-selection {
	background: hsla(212, 100%, 70%, 0.4);
	-moz-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
	overflow: hidden;
	position: absolute;
	z-index: 1000003;
}
abduction-selection-inner {
	border: 1px solid hsla(0, 0%, 100%, 0.3);
	cursor: move;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
abduction-selection-top {
	border-bottom: 1px dashed hsla(0, 0%, 100%, 0.3);
	cursor: n-resize;
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
	top: 0;
}
abduction-selection-top-left {
	cursor: nw-resize;
	height: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
abduction-selection-top-right {
	cursor: ne-resize;
	height: 8px;
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
}
abduction-selection-bottom {
	border-top: 1px dashed hsla(0, 0%, 100%, 0.3);
	bottom: 0;
	cursor: s-resize;
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
}
abduction-selection-bottom-left {
	bottom: 0;
	cursor: sw-resize;
	height: 8px;
	left: 0;
	position: absolute;
	width: 8px;
}
abduction-selection-bottom-right {
	bottom: 0;
	cursor: se-resize;
	height: 8px;
	position: absolute;
	right: 0;
	width: 8px;
}
abduction-selection-left {
	border-right: 1px dashed hsla(0, 0%, 100%, 0.3);
	bottom: 8px;
	cursor: w-resize;
	left: 0;
	position: absolute;
	top: 8px;
	width: 8px;
}
abduction-selection-right {
	border-left: 1px dashed hsla(0, 0%, 100%, 0.3);
	bottom: 8px;
	cursor: e-resize;
	position: absolute;
	right: 0;
	top: 8px;
	width: 8px;
}
abduction-overlay[state = "selecting"],
abduction-selection[state = "selecting"],
abduction-selection[state = "selecting"] * {
	cursor: crosshair;
}
abduction-overlay[state = "resize-top"],
abduction-selection[state = "resize-top"],
abduction-selection[state = "resize-top"] * {
	cursor: n-resize;
}
abduction-overlay[state = "resize-top-left"],
abduction-selection[state = "resize-top-left"],
abduction-selection[state = "resize-top-left"] * {
	cursor: nw-resize;
}
abduction-overlay[state = "resize-top-right"],
abduction-selection[state = "resize-top-right"],
abduction-selection[state = "resize-top-right"] * {
	cursor: ne-resize;
}
abduction-overlay[state = "resize-bottom"],
abduction-selection[state = "resize-bottom"],
abduction-selection[state = "resize-bottom"] * {
	cursor: s-resize;
}
abduction-overlay[state = "resize-bottom-left"],
abduction-selection[state = "resize-bottom-left"],
abduction-selection[state = "resize-bottom-left"] * {
	cursor: sw-resize;
}
abduction-overlay[state = "resize-bottom-right"],
abduction-selection[state = "resize-bottom-right"],
abduction-selection[state = "resize-bottom-right"] * {
	cursor: se-resize;
}
abduction-overlay[state = "resize-left"],
abduction-selection[state = "resize-left"],
abduction-selection[state = "resize-left"] * {
	cursor: w-resize;
}
abduction-overlay[state = "resize-right"],
abduction-selection[state = "resize-right"],
abduction-selection[state = "resize-right"] * {
	cursor: e-resize;
}
